<!doctype html>
<head>
	<title>{{ title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta content="utf-8" http-equiv="encoding">
	<link rel=stylesheet href="{{ url_for('static', filename='theme.css') }}">
</head>
<body>
	<nav>
		<a class=logo href="{{ url_for('index') }}">A</a>
		<div style="margin:auto"></div>
		{%- if user is not none -%}
		<a href="{{ url_for('user_edit') }}">
		{{- user.name }}
		{%- if user.is_banned() %} (banned for {{ format_until(user.banned_until) }}){% endif -%}
		</a>
		<span> | </span>
		{%- if user.is_admin() -%}
		<a href="{{ url_for('admin') }}">Admin panel</a>
		<span> | </span>
		{%- endif -%}
		<a href="{{ url_for('logout') }}">Logout</a>
		{%- else -%}
		{%- if config.registration_enabled -%}
		<a href="{{ url_for('register') }}">Register</a>
		<span> | </span>
		{%- endif -%}
		<a href="{{ url_for('login') }}">Login</a>
		{%- endif -%}
	</nav>
	<main>
		<h1>{{ title }}</h1>
		{%- for category, msg in get_flashed_messages(True) -%}
		<p class="flash {{ category }}">{{ msg }}</p>
		{%- endfor -%}
		{%- block content %}{% endblock -%}
	</main>
</body>
