{% extends 'base.html' %}

{% block content %}
<p>{{ description }}</p>
<p><a href="{{ url_for('new_thread', forum_id = forum_id) }}">Create thread</a></p>
<table>
	<tr>
		<th>Topic</th>
		<th>Author</th>
		<th>Created</th>
		<th>Updated</th>
		<th>Comments</th>
	</tr>
	{% for id, title, ctime, utime, author_id, author, comment_count in threads %}
	<tr>
		<th><a href="{{ url_for('thread', thread_id = id) }}">{{ title }}</a></th>
		<td><a href="{{ url_for('user_info', user_id = author_id) }}">{{ author }}</a></td>
		<td>{{ format_since(ctime) }}</td>
		<td>{{ format_since(utime) }}</td>
		<td>{{ comment_count }}</td>
	</tr>
	{% endfor %}
</table>
{% endblock %}
