{% extends 'base.html' %}

{% macro render_comment(comment) %}
<div style="margin-left:20px">
	<p><i>{{ comment.author }}</i></p>
	<p>{{ comment.text }}</p>
	{% for c in comment.children %}
	{{ render_comment(c) }}
	{% endfor %}
</div>
{% endmacro %}

{% block content %}
{% if manage %}
<div>
	<form method="get" action="confirm_delete/">
		<input type="submit" value="Delete">
	</form>
</div>
{% endif %}
<p>{{ author }} - rjgoire</p>
<p>{{ text }}</p>
{% for c in comments %}
{{ render_comment(c) }}
{% endfor %}
{% endblock %}
